discrete_extremal_sets_constructor/
discrete_orthogonal_polynomials_constructor_and_evaluator/
domains_structure/
lebesgue_constant_evaluator/
polynomial_mesh_constructor/
polynomial_projectors/
stabilized_vandermonde_matrix_constructor/